<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Perfect Party Inc.</title>


  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="../static/styleDashboard.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
<form action="" method="post" role="form">

<nav class="navbar navbar-default navbar-fixed-top navbar-top">
  <div class="container">
    <div class="navbar-header"><a class="navbar-brand">CS348 Project</a></div>
    <div class="navbar-collapse collapse">
      <div class="nav navbar-nav navbar-right">
        <li><a href="/createOrder">Create New Order</a></li>
        <li><a href="/searchOrder">Search Past Order</a></li>
        <li><a href="/admin">Admin</a></li>
      </div>
    </div>
  </div>
</nav>
<header class="jumbotron">
  <div class="container">
    <h1 data-0="transform: translateY(-50px)" data-500="transform: translateY(100px)">Plan Your Party</h1>
    <hr/>
    <h4><font color='black'>Perfect Party Company</font></h4>
  </div>
</header>
<section id="section_intro">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12 img" data-0="transform: translateX(-200px)" data-500="transform: translateX(0px)"></div>
      <div class="col-md-7 col-sm-12">
        <h1 data-300="opacity:0" data-500="opacity:1">It's party time!</h1>
        <h3 data-300="opacity:0" data-500="opacity:1">We customize your party.</h3>
      </div>
    </div>
  </div>
</section>
<section id="section_service">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12" data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform:translateY(0px);opacity:1">
        <h2>What we offer</h2>
        <hr/>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="img_wrap" data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform:translateY(0px);opacity:1"><img src="https://c1.staticflickr.com/5/4374/36539918022_01376be142_k.jpg" alt=""/></div>
        <h3 data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform:translateY(0px);opacity:1">Theme</h3>
        <p>With hundreds of customized themes, our experts will reach you once an order is made and customize your event based on topic, audience and goal. We believe the best party environment is a combination of creativity, passion and dedication.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="img_wrap" data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform:translateY(0px);opacity:1"><img class="bb" src="https://c1.staticflickr.com/5/4367/36663442366_c20eac2697_k.jpg" alt=""/></div>
        <h3 data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform:translateY(0px);opacity:1">Photography</h3>
        <p>We record your event with our professional photography and a free CD will be offered together with your package. Simply talk to one of our sales representative and let us know about your expectation. We do things with love and expertise.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="img_wrap" data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform:translateY(0px);opacity:1"><img src="https://c1.staticflickr.com/5/4408/36539984182_95d7bb4117_k.jpg" alt=""/></div>
        <h3 data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform:translateY(0px);opacity:1">Products</h3>
        <p>We cannot wait to beautify your event with our lovely products including flowers and a bunch of other decorations. Check our website for more details</p>
      </div>
    </div>
  </div>
</section>
<section id="section_value">
  <div class="contanier">
    <div class="row">
      <div class="col-md-5 col-sm-12" data-bottom-top="background-size:150%;opacity:0;background-position:0,0" data-center="background-size:100%;opacity:1;background-position:0,0"></div>
      <div class="col-md-7 col-sm-12">
        <div class="col-md-12 col-sm-12">
          <h2>Our Mission</h2>
          <hr/>
        </div>
        <div class="col-md-12 col-sm-12 features">
          <div class="col-md-4 col-sm-12" data-bottom-top="transform: scale(2);opacity:0" data-center="transform:scale(1.5);opacity:1"><i class="fa fa-thumbs-o-up"></i>
            <h4>Profession</h4>
          </div>
          <div class="col-md-4 col-sm-12" data-bottom-top="transform: scale(2);opacity:0" data-center="transform:scale(1.5);opacity:1"><i class="fa fa-heart-o"></i>
            <h4>Passion</h4>
          </div>
          <div class="col-md-4 col-sm-12" data-bottom-top="transform: scale(2);opacity:0" data-center="transform:scale(1.5);opacity:1"><i class="fa fa-lightbulb-o"></i>
            <h4>Creativity </h4>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <p>Imagine there is one kind of party in this world: It's a mixture of sweet feelings in the air; It makes the lovely smile of friends and the most romantic atmosphere surrounding you. We all have those moments worth sharing and pursuing. Let's make this memorable and worthy.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section_customized">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2>Customization</h2>
      </div>
      <div class="col-md-6 col-sm-12"><img src="https://c1.staticflickr.com/5/4440/36539918272_c710fedf41_k.jpg" alt=""/></div>
      <div class="col-md-6 col-sm-12 feature" data-bottom-top="transform: translateX(50px)" data-center="transform: translateX(0px)"><i class="fa fa-paint-brush"></i>
        <h3>Flowers</h3>
        <p>Flowers can represent different meanings in different parts of world. But one does not change is the passion and love a flower can offer. With the most fresh and creative ideas, our experts will decorate your party with those lovely creatures and make your event even more memorabkle.</p>
        <p>You can always let us know about any allergies or issues so that we can pick the right flowers for you and your friends.</p>
      </div>
      <div class="col-md-6 col-sm-12 feature" data-bottom-top="transform: translateX(50px)" data-center="transform: translateX(0px)"><i class="fa fa-gift"></i>
        <h3>Music</h3>
        <p>There is no denying that music is the key to life. With our professional DJ and music choices, you will have the most fun partying in this vivid music world  </p>
      </div>
    </div>
  </div>
</section>
<footer class="jumbotron">
  <div class="container">
    <h2>Why not plan our party right now?</h2>
    <input class="form-control" placeholder="Email"/>
    <hr/>
    <button class="btn btn-default">Subscribe to us</button>
  </div>
</footer>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>



<script  src="../static/scriptDashboard.js"></script>


</form>

</body>

</html>
