<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Lets Party!!!</title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

  <link rel="stylesheet" href="../static/style.css">


</head>

<body>



<div class="party">
  <form action="/" method="post">
  <div class="blur-here"></div>
  <div class="party__box">
      <div class="party__box-header">
        <div class="party__text">Welcome</div>
      </div>
      <div class="party__box-info">
        <h2 class="heading-secondary">
          <span class="party__offer">Plan your party</span>
          <span class="party__location">at Perfect Party Inc.</span>
          <span class="party__time">(CS348 Project)</span>
        </h2>
          <a href="/dashboard"  class="info--btn">Take me there</a>
      </div>
  </div>
  </form>

  </div>



</body>

</html>
``
