<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <title>Create Order</title>


  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>

  <link rel="stylesheet" href="../static/orderstyle.css">


</head>

<body>
  <form action="" method="post" role="form">

  <div class="container">
  <img src="http://modernresult.net/mod.png" class="rounded mx-auto d-block" alt="...">

  <h2 class="text-center">Modern Academy</h2>

  <h4 class="text-lift">Calculate GPA</h4>

  <hr>


  <label>Math 2</label>

  <select class="custom-select" id="m2">
    <option selected>Open this select menu</option>
    <option value="4">A+</option>
    <option value="3.7">A</option>
    <option value="3.3">B+</option>
    <option value="3">B</option>
    <option value="2.7">C+</option>
    <option value="2.4">C</option>
    <option value="2.2">D+</option>
    <option value="2">D</option>
    <option value="0">F</option>
  </select>

  <hr>


  <label>Fundamentals of Structured Programming</label>

  <select class="custom-select" id="fun">
    <option selected>Open this select menu</option>
    <option value="4">A+</option>
    <option value="3.7">A</option>
    <option value="3.3">B+</option>
    <option value="3">B</option>
    <option value="2.7">C+</option>
    <option value="2.4">C</option>
    <option value="2.2">D+</option>
    <option value="2">D</option>
    <option value="0">F</option>
  </select>

  <hr>

    <label>Electronics</label>

  <select class="custom-select" id="ele">
    <option selected>Open this select menu</option>
    <option value="4">A+</option>
    <option value="3.7">A</option>
    <option value="3.3">B+</option>
    <option value="3">B</option>
    <option value="2.7">C+</option>
    <option value="2.4">C</option>
    <option value="2.2">D+</option>
    <option value="2">D</option>
    <option value="0">F</option>
  </select>

  <hr>


    <label>Principles of Economics</label>

  <select class="custom-select" id="ceo">
    <option selected>Open this select menu</option>
    <option value="4">A+</option>
    <option value="3.7">A</option>
    <option value="3.3">B+</option>
    <option value="3">B</option>
    <option value="2.7">C+</option>
    <option value="2.4">C</option>
    <option value="2.2">D+</option>
    <option value="2">D</option>
    <option value="0">F</option>
  </select>

  <hr>

      <label>Specialized terminologies in English	</label>

  <select class="custom-select" id="stie">
    <option selected>Open this select menu</option>
    <option value="4">A+</option>
    <option value="3.7">A</option>
    <option value="3.3">B+</option>
    <option value="3">B</option>
    <option value="2.7">C+</option>
    <option value="2.4">C</option>
    <option value="2.2">D+</option>
    <option value="2">D</option>
    <option value="0">F</option>
  </select>

  <hr>
      <label>Discrete Mathematics</label>

  <select class="custom-select" id="dm">
    <option selected>Open this select menu</option>
    <option value="4">A+</option>
    <option value="3.7">A</option>
    <option value="3.3">B+</option>
    <option value="3">B</option>
    <option value="2.7">C+</option>
    <option value="2.4">C</option>
    <option value="2.2">D+</option>
    <option value="2">D</option>
    <option value="0">F</option>
  </select>

  <hr>

  <label>Professional Ethics & Legal Aspects</label>

  <select class="custom-select" id="low">
    <option selected>Open this select menu</option>
    <option value="4">A+</option>
    <option value="3.7">A</option>
    <option value="3.3">B+</option>
    <option value="3">B</option>
    <option value="2.7">C+</option>
    <option value="2.4">C</option>
    <option value="2.2">D+</option>
    <option value="2">D</option>
    <option value="0">F</option>
  </select>

  <hr>

  <label>introduction to computer science</label>

  <select class="custom-select" id="i">
    <option selected>Open this select menu</option>
    <option value="4">A+</option>
    <option value="3.7">A</option>
    <option value="3.3">B+</option>
    <option value="3">B</option>
    <option value="2.7">C+</option>
    <option value="2.4">C</option>
    <option value="2.2">D+</option>
    <option value="2">D</option>
    <option value="0">F</option>
  </select>

  <hr>

  <label>Report Writing</label>

  <select class="custom-select" id="r">
    <option selected>Open this select menu</option>
    <option value="4">A+</option>
    <option value="3.7">A</option>
    <option value="3.3">B+</option>
    <option value="3">B</option>
    <option value="2.7">C+</option>
    <option value="2.4">C</option>
    <option value="2.2">D+</option>
    <option value="2">D</option>
    <option value="0">F</option>
  </select>

  <hr>

  <label>English Language</label>

  <select class="custom-select" id="e">
    <option selected>Open this select menu</option>
    <option value="4">A+</option>
    <option value="3.7">A</option>
    <option value="3.3">B+</option>
    <option value="3">B</option>
    <option value="2.7">C+</option>
    <option value="2.4">C</option>
    <option value="2.2">D+</option>
    <option value="2">D</option>
    <option value="0">F</option>
  </select>

  <hr>

  <label>Rrinciples of Management</label>

  <select class="custom-select" id="rm">
    <option selected>Open this select menu</option>
    <option value="4">A+</option>
    <option value="3.7">A</option>
    <option value="3.3">B+</option>
    <option value="3">B</option>
    <option value="2.7">C+</option>
    <option value="2.4">C</option>
    <option value="2.2">D+</option>
    <option value="2">D</option>
    <option value="0">F</option>
  </select>

  <hr>

  <label>Math 1</label>

  <select class="custom-select" id="m">
    <option selected>Open this select menu</option>
    <option value="4">A+</option>
    <option value="3.7">A</option>
    <option value="3.3">B+</option>
    <option value="3">B</option>
    <option value="2.7">C+</option>
    <option value="2.4">C</option>
    <option value="2.2">D+</option>
    <option value="2">D</option>
    <option value="0">F</option>
  </select>

  <hr>
  <label>Physics</label>

  <select class="custom-select" id="p">
    <option selected>Open this select menu</option>
    <option value="4">A+</option>
    <option value="3.7">A</option>
    <option value="3.3">B+</option>
    <option value="3">B</option>
    <option value="2.7">C+</option>
    <option value="2.4">C</option>
    <option value="2.2">D+</option>
    <option value="2">D</option>
    <option value="0">F</option>
  </select>

  <button type="button" id="calc" class="btn btn-primary btn-lg btn-block">Calc</button>

  <div class="borderX">
    <h3 class="text-center">You'r GPA</h3>
    <p class="text-center" id="gpa"></p>
  </div>

</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'></script>



    <script  src="./script.js"></script>



</form>
</body>

</html>
