<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Fill in Form</title>


  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

      <link rel="stylesheet" href="../static/orderInfostyle.css">


</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
  <script>
    var messages = {{ messages | safe }};
    for (var i=0; i<messages.length; i++) {
      if (i==messages.length-1){
        alert(messages[i]);
      }
      break;
    }
  </script>
{% endif %}
{% endwith %}

<body>
  <form action="" method="post">

  <h1>Complete Your Order</h1>

<hr>

<form action="javascript:void(0)" class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">After information is verified, you may have a chance such that the order is being rejected due to stock or other reasons. Please contact our specialists for details and the payment will be reversed in 1-3 business days.</p>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12" >
      <div class="form-group">
        <label for="invittes">Number of Invittes</label>
        <input type="invittes" id = "invittes" class="form-control" id="invittes" name="invittes" value="100" >
      </div>
      <div class="form-group">
        <label for="starttime">Party Start Time</label>
        <input type="starttime" class="form-control" id="starttime" name="starttime" value='2019-01-01 00:00:01' >
      </div>
      <div class="form-group">
        <label for="closetime">Party Close Time</label>
        <input type="closetime" class="form-control" id="closetime" name="closetime" value='2019-01-01 10:00:01' default>
      </div>
      <div class="form-group">
        <label for="budgets">Budgets</label>
        <input type="budgets" class="form-control" id="budgets" name="budgets" value="2000.00" default>
      </div>
      <div class="form-group">
        <label for="deliverytime">Delivery Time</label>
        <input type="deliverytime" class="form-control" id="deliverytime" name="deliverytime" value='08:00:00' default>
      </div>
      <div class="form-group">
        <label for="Billing">Billing address</label>
        <input type="Billing" class="form-control" id="Billing" name="Billing" value='315 ABC st' default>
      </div>
      <div class="form-group">
        <label for="customization">Customization Needs</label>
        <input type="customization" class="form-control" id="customization" name="customization" value="Write anything you like..." default>
      </div>
      <form>
    <p><b> Select Venue Location </b>(retrieved from venue database)</p>
    {% for k, v in venue.items() %}
    <label class="radio-inline">
      <input type="radio" name="venueoption" value="{{k}}" checked>{{v}}
    </label>

    {% endfor %}

  </form></br></br>
  <p><b> Select Event Type </b></p>
  {% for t1, t2 in type.items() %}
  <label class="radio-inline">
    <input type="radio" name="type" value="{{t1}}" checked>{{t2}}
  </label>

  {% endfor %}

</form>


  </div>




  <input style="position: absolute;top:107%;left:13%" type="submit" class="btn btn-success" value="Next">
   </div>
</form>



    <script src="../static/orderInfoscript.js"></script>



</form>
</body>


</html>
