<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Shopping Cart</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


      <link rel="stylesheet" href="../static/cartstyle.css">


</head>

<body>

  <h1>Shopping Cart</h1>

<div style="margin:20px;">
  <table border="1">
    <tr>
      <th>Item</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>000000 - flower type a - red</td>
      <td><button class="add-product" id="1" onclick="addProduct(0)">Add</button></td>
    </tr>
    <tr>
      <td>000001 - flower type b - blue</td>
      <td><button class="add-product" id="2" onclick="addProduct(1)">Add</button></td>
    </tr>
    <tr>
      <td>000003 - flower type c - blue</td>
      <td><button class="add-product" id="3" onclick="addProduct(2)">Add</button></td>
    </tr>
    <tr>
      <td>000004 - funk music</td>
      <td><button class="add-product" id="4" onclick="addProduct(3)">Add</button></td>
    </tr>
    <tr>
      <td>000005 - blues music</td>
      <td><button class="add-product" id="5" onclick="addProduct(4)">Add</button></td>
    </tr>
    <tr>
      <td>000006 - pop music</td>
      <td><button class="add-product" id="6" onclick="addProduct(5)">Add</button></td>
    </tr>

  </table>
<!-- <select id="addSelect" >
  <option value="0">Dingo Dog Bones</option>
  <option value="1">Nutro™ Adult Lamb and Rice Dog Food</option>
</select>
<button class="add-product">
    Add Item
</button> -->
</div>

<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>




  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">0</div>
    </div>
    <div class="totals-item">
      <label>Tax (13%)</label>
      <div class="totals-value" id="cart-tax">0</div>
    </div>
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">15.00</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">15</div>
    </div>
  </div>
  <form action="" method="post">


      <button id ="clickme" class="checkout">Checkout</button>
  </form>

</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>



    <script  src="../static/cartscript.js"></script>


    <script>
    $('#clickme').click( function() {

    var subtotal = 0;

    /* Sum up row totals */
    $('.product').each(function () {
      subtotal += parseFloat($(this).children('.product-line-price').text());
    });

    /* Calculate totals */
    var tax = subtotal * taxRate;
    var shipping = (subtotal > 0 ? shippingRate : 0);
    var total = subtotal + tax + shipping;



    var data = {"price":total}
    $.ajax({
        type : "POST",
        url : "{{ url_for('shoppingcart') }}",
        data: JSON.stringify(data),
        contentType: 'application/json;charset=UTF-8',
        success: function(result) {
            console.log(result);
        }
    });

    console.log(data);});

    </script>
    <script>
    var count1 = 0
    var count2 = 0
    var count3 = 0
    var count4 = 0
    var count5 = 0
    var count6 = 0
    function addProduct(id){
      if (id == 0) {
        count1 += 1
      } else if (id == 1) {
        count2 += 1
      } else if (id == 2) {
        count3 += 1
      } else if (id == 3) {
        count4 += 1
      } else if (id == 4) {
        count5 += 1
      } else {
        count6 += 1
      }
      data = {"p1":count1, "p2":count2, "p3":count3, "p4":count4, "p5":count5, "p6":count6}
      $.ajax({
          type : "POST",
          url : "{{ url_for('shoppingcart') }}",
          data: JSON.stringify(data),
          contentType: 'application/json;charset=UTF-8',
          success: function(result) {
              console.log(result);
          }
      });
      addtoCart(features[id]);
    }
    </script>

</body>

</html>
