<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script>
                $(document).ready(function(){
                  $('[data-toggle="tooltip"]').tooltip();
                });
                </script>
            <style>
            .vcenter {
              display: inline-block;
              float: none;
              right:83%;
              width:12%;
            }
            #indent {
              text-indent:3px
            }
            #accordion {
              height:130%
            }

            .card {
              left:-1%;
              width:107%;
              height:100%;
            }

           #submit_button1 {
             margin-top:40px;
             margin-left: 1%;
           }
           #submit_button2 {
             margin-top:40px;
           }
           .btn-group {
             margin-top:3%;
           }
           #n {
             margin-top:1%;
           }
            .btn{
	            border-radius: 34px;
            }
            .nav{
              width:12%;
            }
            </style>
          </head>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            <script>
              var messages = {{ messages | safe }};
              for (var i=0; i<messages.length; i++) {
                if (i==messages.length-1){
                  alert(messages[i]);
                }
                break;
              }
            </script>
          {% endif %}
        {% endwith %}

<body>

  <form action="" method="post">
      <div class="container">

      </br>
<h1>Your Order History</h1>

</br>
<div class="panel panel-default"><div class="panel-body">
    <ul class="nav nav-pills flex-column col-md-2">
      <li class="active"><a href="#tab_a" data-toggle="pill"><div ><h6>Active Order</h6></div></a></li>
      <li ><a href="#tab_b" data-toggle="pill"><h6>Completed Order</h6></a></li>
      <li><a href="#tab_c" data-toggle="pill"><h6>Cancelled Order</h6></a></li>
    </ul>

    <div class="tab-content col-md-10">
        <div class="tab-pane active" id="tab_a">


            <div id="accordion">
                <div class="card">
                  <div class="card-header" >
                  <table class="table table-borderless" >
                  {% for k, v in active.items() %}

               <tr>
               <td style="width: 25%;" ><h4><div id="n"><font color="black">ID: {{k}}</font></div></h4></td>

                  <td style="width: 60%;"><button type="button" id="but" class="btn btn-outline-secondary btn-lg" data-toggle="collapse" data-target="#{{k}}">Order Details</button>
                    <div id="{{k}}" class="collapse">
                    </br>
                    <table class="table table-bordered" name="table1" style="width:30%">
                        <tbody>
                            <tr><td ><b>Budget</b></td><td >${{v.budget}}</td></tr>
                            <tr ><td><b>Capacity</b></td><td>{{v.capacity}} people</td></tr>
                            <tr><td><b>Event type</b></td><td>{{v.eventtype}}</td></tr>
                            <tr class="table-warning"><td><b>Status</b></td><td>{{v.status_en}}</td></tr>
                            <tr><td><b>Start time </b></td><td>{{v.opentime}}(24h)</td></tr>
                            <tr><td><b>Finish time </b></td><td>{{v.closetime}}(24h)</td></tr>
                            <tr><td><b>Venue location </b></td><td>{{v.location}}</td></tr>
                            <tr><td><b>Delivery time </b></td><td>{{v.delivery}}(24h)</td></tr>
                            <tr><td><b>Orders </b></td><td>{{v.order}}</td></tr>
                            <tr><td><b>Billing address</b></td><td>{{v.billingaddr}}</td></tr>
                            <tr><td><b>Paid amount</b></td><td>${{v.paidamount}}</td></tr>
                            <tr><td><b>Payment type Data </b></td><td>{{v.paid}}</td></tr>
                            <tr><td><b>Customization</b></td><td>{{v.customization}} </td></tr>

                        </tbody>
                        </table>
                        </div>
                       </td>
                  <td style="width:30%"><div class="btn-group .btn-lg round" >

                      <button type="submit" name="customize" value={{k}} class="btn .btn-lg btn-primary">Edit Customization</button>
                      <button type="submit" name="cancel" value={{k}} class="btn .btn-lg btn-warning">Cancel</button>
                    </div></td>

               </tr>
               {% endfor %}

            </table>


            </div>
          </div>
        </div>
      </div>







    <div class="tab-pane" id="tab_b">
      <div id="accordion">
          <div class="card">
            <div class="card-header" >
            <table class="table table-borderless" >

              {% for k1, v1 in complete.items() %}

           <tr>
           <td style="width: 25%;" ><h4><div id="n"><font color="black">ID: {{k1}}</font></div></h4></td>

              <td style="width: 40%;"><button type="button" id="but" class="btn btn-outline-secondary btn-lg" data-toggle="collapse" data-target="#{{k1}}">Order Details</button>
                <div id="{{k1}}" class="collapse">
                </br>
                <table class="table table-bordered" name="table1" style="width:30%">
                    <tbody>
                        <tr><td><b>Budget</b></td><td>{{v1.budget}}</td></tr>
                        <tr ><td><b>Capacity</b></td><td>{{v1.capacity}}</td></tr>
                        <tr><td><b>Event type</b></td><td>{{v1.eventtype}}</td></tr>
                        <tr class="table-warning"><td><b>Status</b></td><td>{{v1.status_en}}</td></tr>
                        <tr><td><b>Start time </b></td><td>{{v1.opentime}}</td></tr>
                        <tr><td><b>Finish time </b></td><td>{{v1.closetime}}</td></tr>
                        <tr><td><b>Venue location </b></td><td>{{v1.location}}</td></tr>
                        <tr><td><b>Delivery time </b></td><td>{{v1.delivery}}</td></tr>
                        <tr><td><b>Orders </b></td><td>{{v1.order}}</td></tr>
                        <tr><td><b>Billing address</b></td><td>{{v1.billingaddr}}</td></tr>
                        <tr><td><b>Paid amount</b></td><td>{{v1.paidamount}}</td></tr>
                        <tr><td><b>Payment type Data </b></td><td>{{v1.paid}}</td></tr>
                        <tr><td><b>Customization</b></td><td>{{v1.customization}} </td></tr>

                    </tbody>
                    </table>
                    </div>
                   </td>
              <td style="width:30%"><div class="btn-group .btn-lg round" >

                  <button type="submit" name="customize" value={{k1}} class="btn .btn-lg btn-primary">Edit Customization</button>
                  <button type="submit" name="cancel" value={{k1}} class="btn .btn-lg btn-warning">Cancel</button>
                </div></td>

           </tr>
           {% endfor %}


      </table>


      </div>
    </div>



</div>
  </div>
  <div class="tab-pane" id="tab_c">
  <div id="accordion">
      <div class="card">
        <div class="card-header" >
        <table class="table table-borderless" >

          {% for k2, v2 in cancelled.items() %}

       <tr>
       <td style="width: 25%;" ><h4><div id="n"><font color="black">ID: {{k2}}</font></div></h4></td>

          <td style="width: 40%;"><button type="button" id="but" class="btn btn-outline-secondary btn-lg" data-toggle="collapse" data-target="#{{k2}}">Order Details</button>
            <div id="{{k2}}" class="collapse">
            </br>
            <table class="table table-bordered" name="table1" style="width:30%">
                <tbody>
                    <tr><td><b>Budget</b></td><td>{{v2.budget}}</td></tr>
                    <tr ><td><b>Capacity</b></td><td>{{v2.capacity}}</td></tr>
                    <tr><td><b>Event type</b></td><td>{{v2.eventtype}}</td></tr>
                    <tr class="table-warning"><td><b>Status</b></td><td>{{v2.status_en}}</td></tr>
                    <tr><td><b>Start time </b></td><td>{{v2.opentime}}</td></tr>
                    <tr><td><b>Finish time </b></td><td>{{v2.closetime}}</td></tr>
                    <tr><td><b>Venue location </b></td><td>{{v2.location}}</td></tr>
                    <tr><td><b>Delivery time </b></td><td>{{v2.delivery}}</td></tr>
                    <tr><td><b>Orders </b></td><td>{{v2.order}}</td></tr>
                    <tr><td><b>Billing address</b></td><td>{{v2.billingaddr}}</td></tr>
                    <tr><td><b>Paid amount</b></td><td>{{v2.paidamount}}</td></tr>
                    <tr><td><b>Payment type Data </b></td><td>{{v2.paid}}</td></tr>
                    <tr><td><b>Customization</b></td><td>{{v2.customization}} </td></tr>

                </tbody>
                </table>
                </div>
               </td>
          <td style="width:30%"><div class="btn-group .btn-lg round" >

              <button type="submit" name="customize" value={{k2}} class="btn .btn-lg btn-primary">Edit Customization</button>
              <button type="submit" name="cancel" value={{k2}} class="btn .btn-lg btn-warning">Cancel</button>
            </div></td>

       </tr>
       {% endfor %}

  </table>


  </div>
</div>

</div>


</div>
</div>





          </br>
<button id="submit_button2" name="return" type="submit" class="btn btn-success .btn-lg button_define" value='compare'>Back to Dashboard</button>


</br>

</div>
</div>

</form>
</div>
</div>

</body>

</div>
